<form id="editPartial" action="<%= `/${adminRoute}/resource` %>" method="put">
  
  <fieldset>
    <label for="logo_img">
      <span>Logo URL:</span>
      <input type="url" name="logo_img" value="" >
    </label></br>
    <label for="title">
      <span>Name:</span>
      <input type="text" name="title" value="" required>
    </label></br>
    <label for="email">
      <span>Email:</span>
      <input type="email" name="email" value="" required>
    </label></br>
    <label for="resource_url">
      <span>URL:</span>
      <input type="url" name="resource_url" value="">
    </label></br>
      <label for="description" id='desc'>
        <span>Description:</span>
        <input type="text" name="description" value="" style="height:100px;" required>
      </label></br>
      <label for ="Importance">
      <span>Importance:</span>
      <select required>
        <option value =""hidden>Please select importance of Resource:</option>
        <option>1</option>
        <option>2</option>
        <option>3</option>
        <option>4</option>
        <option>5</option>
      </select></br></br>
    </label>
  </fieldset>
  <button id='update' type="submit">Update Details</button>
</form>