<form id="event-request-form" action="/eventRoute" method="post">
  <ul>
    <li><h3>If you would like to add an event to our calendar, please submit the details below:</h3></li>
    <li><input name="requester" placeholder="Your Name" required></li>
    <li><input name="requesterEmail" placeholder="Your E-mail" type="email" required></li>
    <li><input name="requesterPhone" placeholder="Your Phone Number" type="tel" required></li>
    <li><input name="eventName" placeholder="Name of the event" required></li>
    <li><input name="date" placeholder="Date" required></li>
    <li><input name="time" placeholder="Time" required></li>
    <li><textarea name="description" placeholder="Description" required></textarea></li>
    <li><button type="submit">Send</button></li>
  </ul>
</form>