<form id="event-request-form" action="/eventsForm" method="post">
  <h3>If you would like to add an event to our calendar, please submit the details below:</h3>
  <input name="requester" placeholder="Your Name" required>
  <input name="requesterEmail" placeholder="Your E-mail" required>
  <input name="requesterPhone" placeholder="Your Phone Number">
  <input name="eventName" placeholder="Name of the event" required>
  <input name="date" placeholder="Date" required>
  <input name="time" placeholder="Time" required>
  <input name="description" placeholder="Description">
  <button type="submit">Send</button>
</form>