<footer>
  <section class="contact">
  <img id="map_location" src="../../assets/images/map_of_JBLM.PNG" alt="map with location">
  <section class="contact">Contact Info<br>
    Hawk Career Center</br>
    11577 41st Division Drive (Lewis North)</br>
    Joint Base Lewis McChord, WA 98433-9500</br>
    Phone: (253) 967-3258
  </section>
</footer>
<div id="copyright"> &copy; 2019 JBLM Unlimited</div>
