<footer>
  <section>
    <img id="map_location" src="../../assets/images/map_of_JBLM.PNG" alt="map with location">
  </section>

  <section>
    <p><a href="https://www.facebook.com/JBLewisMcChord/?ref=nf" target="_blank"><img id="fbicon" src="/assets/download.png" alt="facebook link"></a></p>
    <p>Hawk Career Center</p>
    <p>11577 41st Division Drive (Lewis North)</p>
    <p>Joint Base Lewis McChord, WA 98433-9500</p>
    <p>Phone: (253) 967-3258</p>
  </section>

  <form id="getLocationForm" action="/getLocation" method="post">
    <p>Need directions? Input your location below:</p>
    <input name="location">
  </form>


</footer>

<div id="copyright"> &copy; 2019 JBLM Unlimited</div>