<footer>
  <section>
    <a href="https://www.google.com/maps/place/11577+41st+Division+Dr,+Joint+Base+Lewis-McChord,+WA+98433/@47.1265514,-122.6051964,17z/data=!3m1!4b1!4m5!3m4!1s0x5491064faa0bcfe9:0x89f3d1e16284778a!8m2!3d47.1265514!4d-122.6030077?hl=en"><img id="map_location" src="../../assets/images/map_of_JBLM.PNG" alt="map with location"></a>
  </section>

  <section>
    <p><a href="https://www.facebook.com/JBLewisMcChord/?ref=nf" target="_blank"><img id="fbicon" src="/assets/download.png" alt="facebook link"></a>
    <a href="https://jblm-site.herokuapp.com/calendar" target="_blank"><img id="calendericon" src="/assets/images/calendar-png-download.png" alt="calendericon"></a></p>
    <p>Hawk Career Center</p>
    <p>11577 41st Division Drive (Lewis North)</p>
    <p>Joint Base Lewis McChord, WA 98433-9500</p>
    <p>Phone: (253) 967-3258</p>
    <p>
      <form id="getLocationForm" action="/getLocation" method="post">
        <p>Need directions? Input your location below:</p>
        <p><input name="location"></p>
      </form>
    </p>
  </section>

</footer>

<div id="copyright"> &copy; 2019 JBLM Unlimited</div>