<footer>
  <section class="contact">
    Hawk Career Center</br>
    11577 41st Division Drive (Lewis North)</br>
    Joint Base Lewis McChord, WA 98433-9500</br>
    Phone: (253) 967-3258
  </section>
  <!-- Image from: https://www.facebook.com/ -->
  <a href="https://www.facebook.com/JBLewisMcChord/?ref=nf" target="_blank"><img id="fbicon" src="/assets/download.png" alt="facebook link"></a>
</footer>
<div id="copyright"> &copy; 2019 JBLM Unlimited</div>
