<section id="header">
    <img id="logoimg" src="../../assets/images/JBLM.png" alt="JBLM logo">
    <h1>JBLM Unlimited</h1>
    <h2>Joint Base Lewis-McChord Employment Resources for Military Connected Individuals</h2>
    <a class="calendar" href="/calendar">Calendar</a>
    <a class="resources" href="/resources">Resources</a>
  </section>