<section id="header">
  <section>

    <section>
      <img id="logoimg" src="../../assets/images/JBLM.png" alt="JBLM logo">
    </section>

    <section>
      <h1>JBLM Unlimited</h1>
      <h2>Joint Base Lewis-McChord Employment Resources for Military Connected Individuals</h2>
    </section>

  </section>

  <nav>
    <a class="calendar" href="/calendar">Calendar</a>
    <a class="resources" href="/resources">Resources</a>
  </nav>
  
</section>





