<form id="event-request-form" action="/" method="post">
  <h3>If you would to become a HAWK Career Center resource, please send us your information and we'll get back to you soon:</h3>
  <input name="name" placeholder="Name" required>
  <input name="email" placeholder="Email Address">
  <input name="phone" placeholder="Phone Number">
  <input name="logoURL" placeholder="A link to your logo">
  <input name="siteURL" placeholder="A link to your website">
  <input name="description" placeholder="Description">
  <button type="submit">Send</button>
</form>