<form id="resources-request-form" action="/" method="post">
  <h3>If you'd like to become a HAWK resource, please send us your information and we'll get back to you soon.</h3>
  <input name="name" placeholder="Name" required>
  <input name="email" placeholder="Email Address" type="email" required>
  <input name="phone" placeholder="Phone Number" type="tel" required>
  <input name="logoURL" placeholder="A link to your logo">
  <input name="siteURL" placeholder="A link to your website">
  <input name="description" placeholder="Description" required>
  <button type="submit">Send</button>
</form>