<form id="resources-request-form" action="/" method="post">
  <ul>
    <li>If you'd like to become a HAWK resource, please send us your information and we'll get back to you soon.</li>
    <li><input name="name" placeholder="Name" required></li>
    <li><input name="email" placeholder="Email Address" type="email" required></li>
    <li><input name="phone" placeholder="Phone Number" type="tel" required></li>
    <li><input name="logoURL" placeholder="A link to your logo"></li>
    <li><input name="siteURL" placeholder="A link to your website"></li>
    <li><input name="description" placeholder="Description" required></li>
    <li><button type="submit">Send</button></li>
  </ul>
</form>