<!DOCTYPE html>
<html>
<%- include('../partials/head') %>

<body>

  <%- include('../partials/header') %>

  <main class="admin-section">
    <h2 id="admin">Administration Page </h2>
    <form class="admin-form" action="<%= `/${adminRoute}/resource/new` %>" method="post">
      <fieldset>
        <legend>Add a Resource:</legend>
        <ul>
          <li><label for ="adminOrder">Order:</label></li>
          <li><input type="number" value="" placeholder="Input order number" required></li>
          <li><label for="adminLogo">Logo URL:</label></li>
          <li><input id='adminLogo' type="url" name="logo_img" placeholder="http://..." value="" ></li>
          <li><label for="adminName">Name:</label></li>
          <li><input id='adminName' type="text" name="title" value="" required></li>
          <li><label for="adminEmail">Email:</label></li>
          <li><input id='adminEmail' type="email" name="email" value="" required></li>
          <li><label for="adminURL">URL:</label></li>
          <li><input id='adminURL' type="url" name="resource_url" value=""></li>
          <li><label for="adminDesc" id='desc'>Description</label></li>
          <li><textarea id='adminDesc' type="text" name="description" value="" required></textarea></li>
        </ul>
        <button type="submit">Add this resource</button>
      </fieldset>
    </form>
  </main> 
    
    <%- include('../partials/footer') %>
</body>
</html>