<!DOCTYPE html>
<html>
<%- include('../partials/head') %>

<body>

  <%- include('../partials/header') %>

  <main class="admin-section">
    <h2 id="admin">Administration Page </h2>
    <form class="admin-form" action="<%= `/${adminRoute}/resource/new` %>" method="post">
      <fieldset>
        <legend>Add a Resource:</legend>
        <ul>
          <li><label for="adminLogo">Logo URL:</label></li>
          <li><input id='adminLogo' type="url" name="logo_img" value="" ></li>
          <li><label for="adminName">Name:</label></li>
          <li><input id='adminName' type="text" name="title" value="" required></li>
          <li><label for="adminEmail">Email:</label></li>
          <li><input id='adminEmail' type="email" name="email" value="" required></li>
          <li><label for="adminURL">URL:</label></li>
          <li><input id='adminURL' type="url" name="resource_url" value=""></li>
          <li><label for="adminDesc" id='desc'>Description</label></li>
          <li><textarea id='adminDesc' type="text" name="description" value="" required></textarea></li>
          <li><label for ="adminImport">Importance:</label></li>
          <li><select id="adminImport" required>
            <option value =""hidden>Please select importance of Resource:</option>
            <option>1</option>
            <option>2</option>
            <option>3</option>
            <option>4</option>
            <option>5</option>
          </select></li>
        </ul>
        <button type="submit">Add this resource</button>
      </fieldset>
    </form>
  </main> 
    
    <%- include('../partials/footer') %>
</body>
</html>