<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head') %>

<body>
  <%- include('../partials/header') %>

  <iframe src="https://calendar.google.com/calendar/embed?src=hawk.jblm%40gmail.com&ctz=America%2FLos_Angeles" title="0"
    style="border: 0" width="80%" height="850" frameborder="0" scrolling="no"></iframe>

  <%- include('../partials/eventsForm.ejs') %>

  <%- include('../partials/footer') %>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="/js/app.js"></script>
  <script>
    $('.calendar_link').hide();
  </script>

</body>

</html>