<!DOCTYPE html>
<html lang="en">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
<%- include('../partials/head') %>

<body>
  <!-- facebook feed rendering script: -->
  <div id="fb-root"></div>
  <script async defer crossorigin="anonymous"
    src="https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v5.0&appId=2461835780530329&autoLogAppEvents=1"></script>

  <%- include('../partials/header') %>


  <section id="carouselBox" class="carousel-box">
    <div>
      <div id="arrowLeft" class="arrow-left arrow"></div>
    </div>
    <div class="carousel-main">
      <img class="" src="/assets/Hawk1Cropped.jpg">
      <img class="op0" src="/assets/Hawk2Cropped.jpg">
      <img class="op0" src="/assets/Hawk3Cropped.jpg">
      <img class="op0" src="/assets/Hawk4Cropped.jpg">
      <img class="op0" src="/assets/Hawk5Cropped.jpg">
      <img class="op0" src="/assets/Hawk6Cropped.jpg">
      <img class="op0" src="/assets/Hawk7Cropped.jpg">
      <img class="op0" src="/assets/Hawk8Cropped.jpg">
      <img class="op0" src="/assets/hawk9Cropped.jpg">
      <img class="op0" src="/assets/Hawk10Cropped.jpg">
      <img class="op0" src="/assets/Hawk11Cropped.jpg">
      <img class="op0" src="/assets/Hawk12Cropped.jpg">
      <img class="op0" src="/assets/Hawk13Cropped.jpg">
    </div>
    <div>
      <div id="arrowRight" class="arrow-right arrow"></div>
    </div>
  </section>

  <article class="main-columns">

    <section>
      <div class="fb-page" data-href="https://www.facebook.com/JBLewisMcChord/" data-tabs="timeline" data-small-header="true" data-adapt-container-width="true" data-hide-cover="false"
        data-show-facepile="false">
        <blockquote cite="https://www.facebook.com/JBLewisMcChord/" class="fb-xfbml-parse-ignore"><a
            href="https://www.facebook.com/JBLewisMcChord/">Joint Base Lewis-McChord</a>
        </blockquote>
      </div>
    </section>

    <section>
        <p>Upcoming Events</p>
        <iframe src="https://calendar.google.com/calendar/b/1/embed?height=500&amp;wkst=1&amp;bgcolor=%23ffffff&amp;ctz=America%2FLos_Angeles&amp;src=aGF3ay5qYmxtQGdtYWlsLmNvbQ&amp;src=ZW4udXNhI2hvbGlkYXlAZ3JvdXAudi5jYWxlbmRhci5nb29nbGUuY29t&amp;color=%2322AA99&amp;color=%231F753C&amp;showTitle=0&amp;showNav=0&amp;showPrint=0&amp;showTabs=0&amp;showCalendars=0&amp;mode=AGENDA&amp;showDate=0" style="border-width:0" width="300" height="500" frameborder="0" scrolling="no"></iframe>

      </iframe>
      <a href="https://jblm-site.herokuapp.com/calendar"><p>See full calendar</p></a>
    </section>

    <section>
    </br>
        <a href="https://jblm-site.herokuapp.com/resources"><p>Check out our resources page</p></a>
        Would you like to become a Resource?
        <%-include('../partials/resourcesForm') %>
        Employers, to be connected to Military Candidates:<br> send email <a href="mailto:usarmy.jblm.imcom.list.dhr-acap-job-fair-team@mail.mil">here</a>. 

    </section>

  </article>

  <%- include('../partials/footer') %>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="/js/carousel.js"></script>
</body>

</html>