.carousel-box {
  width: 80%;
  display: flex;
  align-items: center;
  margin: 0 auto;
}

.carousel-box .hide {
  opacity: 0;
}

.carousel-box div:first-child, .carousel-box div:last-child {
  flex: 0 0 10%;
}

.carousel-box .carousel-main {
  flex: 0 0 80%;
  overflow: hidden;
}

.carousel-box img {
  width: 100%;
}