body{
    background: white;
    font-family: 'Jomolhari', serif;
}

header{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    background:linear-gradient(218.02deg, rgb(172, 163, 162) 0%, rgb(12, 49, 56) 90%);
    padding: 1em;
}

.main-columns {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    width: 80%;
    margin: 4em auto;
}

.main-columns section:first-child, .main-columns section:nth-child(2), .main-columns section:last-child {
    flex: 0 0 33%;
    text-align: center;
}

.main-columns section:nth-child(2){
    border-right: 1px solid #777777;
    border-left: 1px solid #777777;
}

#fbicon{
    width:51px;
    height:51px;
    float: right;
    margin-right:.5em;
    border-radius: 6px;
}



