body{
    background: white;
    font-family: 'Jomolhari', serif;
}
#errorPage{
    background-image: url(../assets/images/canva-error.jpg);
    background-size: 100vw;
    height:50vw;
}
#errorPage h2{
    height: 50%;
    color: #8E205E;
    text-align: center;
    font-size: 50px;
}
#errorPage p{
    color: #8E205E;
    text-align: center;
    font-size: 25px;
}

header, footer{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    background:linear-gradient(218.02deg, rgb(172, 163, 162) 0%, rgb(12, 49, 56) 90%);
    padding: 1em;
}

.main-columns {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    width: 80%;
    margin: 4em auto;
}


footer {
    padding: 4em;
    align-items: center;
    justify-content: center;
}

@media (max-width: 1000px) {
    .main-columns {
        flex-wrap: wrap;
    }
    header, footer{
        flex-wrap: wrap;
    }
}

