/* copyright in the footer */
#copyright{
    background: rgb(0, 0, 0);
    color: white;
    text-align: center;
    height: 3em;
    line-height: 3em;
}
h1{
    color: white;
    font-family: 'Jomolhari', serif; 
    font-size: 2em;
    font-weight: bold;
}

h2 {
    color: #7F92B3;
    font-size: 1.4em;
}
/* background from: https://www.duda.co/blog/11-tips-designing-great-website-headers/ */
header div:first-child{
    flex: 0 0 10%;
}

header div:first-child img {
    width: 100%;
}

header section {
    flex: 0 0 50%;

}

header nav {
    text-align: right;
    flex: 0 0 30%;
}

header nav a {
    text-decoration: none;
    color: whitesmoke;
}

header nav a:hover {
    color: #8E205E;
}

.adminList{
    max-width:750px;
    margin:auto;
}

#editPartial{
    visibility:hidden;
}



h4{
    text-align: center;
    margin-top:.75em;
    font-size: 2em;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
}
.rr{
    margin-left: 5em;
}
.rt{
    margin-top:5em;
    /* margin-right: 5em; */

}
.dt{
    margin-right: 5em;
}
#pdf{
    margin-left: 1em;
}

@media (max-width: 959px) {
    
    /* because the iframes are rendered in an inline-element, use text-align center instead of margin auto */
    .three-section-contents {
        text-align: center;
        padding: 20px;
        border-bottom: 1px solid rgba(0, 0, 0, 0.425);
    }
}

@media (min-width: 960px) {
    
    iframe {
        margin: auto;
    }
    #three-section-main {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }
    #left-section, #middle-section {
        border-right: 1px solid black;
    }
    .three-section-contents {
        padding: 10px;
        height: 100%;
        text-align: center;
    }
    .three-section {
        width: 33.3%;
    }
    .fb-page {
    margin: auto;
    }

}

.resourcePage{
    padding:5%;
}

#event-request-form {
    width: 100px;
    float: right;
    margin-right: 100px;
}
#resources-request-form {
    display: none;
}