h1{
    color: white;
    font-family: 'Jomolhari', serif; 
    font-size: 2em;
    font-weight: bold;
}

h2 {
    color: #7F92B3;
    font-size: 1.4em;
}
/* background from: https://www.duda.co/blog/11-tips-designing-great-website-headers/ */
header div:first-child{
    flex: 0 0 10%;
}

header div:first-child img {
    width: 100%;
}

header section {
    flex: 0 0 50%;

}

header nav {
    text-align: right;
    flex: 0 0 30%;
}

header nav a {
    text-decoration: none;
    color: whitesmoke;
}

header nav a:hover {
    color: #8E205E;
}

.main-columns section:first-child{
    flex: 0 0 33%;
    text-align: center;
}

.main-columns section:nth-child(2){
    flex: 0 0 33%;
    border-right: 1px solid #777777;
    border-left: 1px solid #777777;
    text-align: center;
}

.main-columns section:last-child{
    flex: 0 0 33%;
    text-align: center;
}

.main-columns section:nth-child(2) iframe {
    width: 80%;
    height: 500px;
}

.main-columns section:last-child{
    text-align: left;
    padding-left: 2em;
}

.main-columns section:last-child{
    text-align: left;
    padding-left: 2em;
}

.main-columns section:last-child a {
    cursor:pointer;
}

.resourcePage{
    max-width: 750px;
    margin:auto;
}

.adminList{
    max-width:750px;
    margin:auto;
}

#editPartial{
    display:none;
}

#admin, #addResource{
    max-width:750px;
    margin:auto;
}
input{
    border: 1px solid black;
    width:80%;
}

button{
    border:1px solid black;
    background-color: white;
    border-radius: 10px;

}

h4{
    text-align: center;
    margin-top:.75em;
    font-size: 2em;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
}
.rr{
    margin-left: 5em;
}
.rt{
    margin-top:5em;
    /* margin-right: 5em; */

}
.dt{
    margin-right: 5em;
}
#pdf{
    margin-left: 1em;
}

@media (max-width: 959px) {
    
    /* because the iframes are rendered in an inline-element, use text-align center instead of margin auto */
    .three-section-contents {
        text-align: center;
        padding: 20px;
        border-bottom: 1px solid rgba(0, 0, 0, 0.425);
    }
}

@media (min-width: 960px) {
    
    iframe {
        margin: auto;
    }
    #three-section-main {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }
    #left-section, #middle-section {
        border-right: 1px solid black;
    }
    .three-section-contents {
        padding: 10px;
        height: 100%;
        text-align: center;
    }
    .three-section {
        width: 33.3%;
    }
    .fb-page {
    margin: auto;
    }

}

.resourcePage{
    padding:5%;
}

#event-request-form {
    width: 100px;
    float: right;
    margin-right: 100px;
}

#resources-request-form {
    display: none;
}

#resources-request-form ul li {
    margin-bottom: 1em;
}

.index-resources {
    margin-top: 2em;
}

footer section:first-child {
    flex: 0 0 15%;
    text-align: center;
    height: 100%;
    border-right: 1px solid #999999
}
footer section:first-child img {
    padding-right: 4em;
    height: 100%;
}

footer section:last-child p{
    flex: 0 0 85%;
    font-size: 1.2em;
    padding-left: 3em;
    margin-bottom: 0.5em;
    text-align: left;
    color: whitesmoke;
}

#fbicon{
    width:51px;
    height:51px;
    margin-right:.5em;
    border-radius: 6px;
}

/* copyright in the footer */
#copyright{
    background: rgb(0, 0, 0);
    color: white;
    text-align: center;
    height: 3em;
    line-height: 3em;
}

@media (max-width: 1000px) {
    .main-columns section:first-child,
    .main-columns section:nth-child(2),
    .main-columns section:last-child
    {
        flex: 0 0 100%;
    }
    .main-columns section:nth-child(2){
        border: 0;
        margin-top: 2em;
        margin-bottom: 2em;
    }
}