/* copyright in the footer */
#copyright{
    background: rgb(0, 0, 0);
    color: white;
    text-align: center;
    height: 3em;
    line-height: 3em;
}

h1{
    color: white;
    font-family: 'Jomolhari', serif; 
    font-size: 2em;
    display: inline;
    margin-left: 3em;
    font-weight: bold;
}



/* background from: https://www.duda.co/blog/11-tips-designing-great-website-headers/ */
#header{
    background:linear-gradient(218.02deg, rgb(172, 163, 162) 0%, rgb(12, 49, 56) 90%);
    width:100%;
}

#header h1{
    line-height: 100px;
}

#header h2{
    color: #7F92B3;
    font-size: 1.5em;
    text-emphasis: black;
}



.calendar{
    color:#8E205E;
    text-decoration: underline;
    margin-right: 1em;
    margin-left: 70%;
    line-height: 6em;
    display: inline;
    right: 8em;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";;
}

.resources{
    color:#8E205E;
    text-decoration: underline;
    margin-right: 1em;
    line-height: 6em;
    display: inline;
}

.resources:hover{
color: black;
}

.calendar:hover{
    color:black;
}


h1{
    color: white;
    font-size: 2em;
    display: inline;
    margin-left: 3em;
    font-weight: bold;
}





/* footer */
footer{
    background:linear-gradient(218.02deg, rgb(172, 163, 162) 0%, rgb(12, 49, 56) 90%);
    font-size: 20px;
    margin-top: 3em;
    height: 120px;
    width: 100%;

}

/* contact info in footer */
.contact{
    color: white;
    float: left;
    height: 25px;
    margin-top: .25em;
    margin-left: .25em;
}

/* home tab on calendar page  */
#home2{
    color:white;
    text-decoration: underline;
    margin-right: 2em;
    margin-left: 50em;
    line-height: 6em;
    display: inline;
    right: 8em;
}

#resources2{
    color:white;
    text-decoration: underline;
    margin-right: 2em;
    line-height: 6em;
    display: inline;
    
}

#resources2:hover{
color: black;
}

#home2:hover{
    color:black;
}



.calendar3{
    color:white;
    text-decoration: underline;
    margin-right: 2em;
    line-height: 6em;
    display: inline;
    right: 8em;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";;
}

.calendar3:hover{
    color:black;
}

.home3{
    color:white;
    text-decoration: underline;
    margin-right: 2em;
    margin-left: 50em;
    line-height: 6em;
    display: inline;
    right: 8em;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";;
}

.home3:hover{
    color:black;
}

#resources5{
    color:white;
    text-decoration: underline;
    line-height: 6em;
    display: inline;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";;
    
}

#resources5:hover{
color: black;
}




#admin{
    text-align: center;
    margin-top:1em;
    margin-bottom: 2em;
    font-size: 2em;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";

}


form{
    text-align: center;
    
}

legend{
    margin-bottom: .75em;
}

button{
    margin-top: 1em;
    margin-left: 50em;
    margin-bottom: 30em;
    margin:auto;
    border: 1px solid black;
    border-radius: 10px;
}
input{
    margin:1%;
    border: 1px solid black;
    
}

.adminList{
    max-width:750px;
    margin:auto;
}



h4{
    text-align: center;
    margin-top:.75em;
    font-size: 2em;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
}
.rr{
    margin-left: 5em;
}

.rt{
    margin-top:5em;

}

.dt{
    margin-right: 5em;
}

#pdf{
    margin-left: 1em;
}



